
{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azimuth Pontifex</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <script src="/static/script.js"></script>
    <script src="https://unpkg.com/@walletconnect/web3-provider"></script>
</head>
<body>
    <div class="container" hx-ext="response-targets">
        <div class="header">
            <h1><img src="/static/planet.gif"> Pontifex <img src="/static/planet.gif"></h1>
        </div>
        <div id="main-content" class="content">
            {{template "page-content" .}}
        </div>
    </div>
</body>
</html>
{{end}}