{{define "login"}}
    {{template "base" .}}
{{end}}

{{define "page-content"}}
<div class="form-group">
    <span class="centered">
        <h4>Azimuth public key cryptography operation web portal</h4>
        <div class="divider">★ ★ ★</div>
    </span>
    
    <div class="centered">
            <button class="action-button" 
                    hx-get="/auth/key-form" 
                    hx-target="#auth-form">
                Master ticket
            </button>
            <button class="action-button" 
                    hx-get="/auth/hardware-form" 
                    hx-target="#auth-form">
                Hardware key
            </button>
    </div>

    <div id="auth-form"></div>

    <div class="status">
        <span class="centered">
            <p class="blink" content-align="center">[ System Status: Online ]</p>
        </span>
    </div>
    <div class="divider">✧ ✧ ✧</div>
</div>
{{end}}