{{define "login"}}
    {{template "base" .}}
{{end}}

{{define "page-content"}}
<div class="form-group">
    <span class="centered">
        <h4>Azimuth public key cryptography operation web portal</h4>
        <div class="divider">★ ★ ★</div>
    </span>
    <form class="login-form" 
          hx-post="/auth" 
          hx-target-error="#login-error"
          hx-target="#main-content">
        <div class="form-group">
            <label for="ship">SHIP NAME</label>
            <input type="text" 
                   id="ship" 
                   name="ship" 
                   placeholder="~sampel-palnet" 
                   required>
        </div>

        <div class="form-group">
            <label for="ticket">MASTER TICKET</label>
            <input type="password" 
                   id="ticket" 
                   name="ticket" 
                   required>
        </div>

        <div class="form-group">
            <label class="checkbox-container">
                <input type="checkbox" 
                       id="use-passphrase"
                       onclick="document.getElementById('passphrase-section').style.display = this.checked ? 'block' : 'none'">
                Use passphrase
            </label>
            <div id="passphrase-section" class="form-group" style="display: none">
                <input type="password" 
                       id="passphrase" 
                       name="passphrase"
                       placeholder="Optional passphrase">
            </div>
        </div>
        <div class="centered">
            <button class="action-button" type="submit">Submit</button>
            <div id="login-error"></div>
        </div>

        <div class="status">
            <span class="centered">
                <p class="blink" content-align="center">[ System Status: Online ]</p>
            </span>
        </div>
    </form>
    <div class="divider">✧ ✧ ✧</div>
</div>
{{end}}